<div>
    <p class="lead">Training Helper è una applicazione open-source pensata per la gestione delle proprie sessioni di allenamento.</p>

    <p class="lead">Verrano pian piano aggiunte nuove features più orientate ad allenamenti specifici, durata delle sessioni,
    tipologia di allenamento, singolo coppie o a gruppi e cose del genere...</p>

    <p class="lead">Se avete suggerimenti o consigli da dare scrivete pure a:</p>

    <p class="lead">
        <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:milo.donati@gmail.com"> milo.donati[at]gmail.com </a>
    </p>

    <p class="lead">Se siete programmatori o semplici curiosi il codice di Training Helper è facilmente scaricabile
        da questo repository git-hub:</p>

    <p class="lead">
        <img src="/img/Octocat.png" width="30px" height="30px">
        <a class="lead" href="https://github.com/warez/TrainingHelper" target="_blank"> https://github.com/warez/TrainingHelper </a>
    </p>
</div>