<div class="panel panel-default">
    <div class="panel-heading"> {{training.nome}} (del {{training.data | date:"dd/MM/yyyy h:mma"}})</div>
    <div class="panel-body">

        <row>
            <label for="nomeAllenamento">Nome Allenamento:</label>
            <input type="text" class="form-control" id="nomeAllenamento"
                   ng-model="training.nome">
        </row>

        <row>
            <label for="nomeAllenamento">Descrizione:</label>
        </row>

        <div id="textAngular" text-angular ng-model="training.descrizione"></div>

        <div style="margin: 10px">
            <button class="btn btn-default" ng-click="onTrainingChange(training)"> Salva allenamento <span class="glyphicon glyphicon-floppy-disk"></span> </button>
            <button class="btn btn-default" ng-click="onTrainingDelete(training)"> Cancella allenamento <span class="glyphicon glyphicon-trash"></span></button>
        </div>

    </div>
</div>