<div class="homeViewDiv" ng-show="logged">

    <div class="jumbotron">
        <h1>Come usare TrainingHelper:</h1>
        <br><br>

        <h3>Crea i tuoi allenamenti personalizzati con il bottone che trovi nella barra superiore..</h3>

        <h3>Modifica e cancella i tuoi allenamenti dalla comoda lista che vedi sul lato destro..</h3>

        <h3>Crea pratici file con la funzione "Esporta allenamenti" per averli sempre con te! </h3>


    </div>

</div>

<div class="homeViewDiv" ng-hide="logged">

    <div class="jumbotron">
        <h1>Benvenuto in TrainingHelper!</h1>
        <h1><small>L'applicazione per i tuoi allenamenti.</small></h1>

        <br><br>

        <h3>Accedi subito a tutte le sue funzioni con i tuoi dati google attraverso il tasto "Login"!</h3>

        <div class="arrow hidden-xs" id="arrow4">
            <img src="/img/arrow.png">
        </div>

    </div>

</div>
