<div class="panel panel-default">
    <div class="panel-heading" ng-if="op === 'edit' ">{{training.nome}} (del {{training.data | date:"dd/MM/yyyy h:mma"}})</div>
    <div class="panel-heading" ng-if="op === 'create' ">Inserisci i dati del nuovo allenamento</div>
    <div class="panel-body">

        <div>
            <label for="nomeAllenamento">Nome Allenamento:</label>
            <input type="text" class="form-control" id="nomeAllenamento"
                   ng-model="training.nome">
        </div>

        <div>
            <label for="nomeAllenamento">Descrizione:</label>
        </div>

        <div>
            <div id="textAngular" text-angular ng-model="training.descrizione"></div>
        </div>

        <div>
            <div ng-repeat="image in training.images" class="col-xs-6 col-md-3 imagePreviewContainer">
                <img ng-src="{{image.image}}" class="imagePreview">
                <button class="deleteImg btn btn-xs" ng-click="removeImage($index)"><span class="glyphicon glyphicon-remove"></span> </button>
            </div>
        </div>

        <div style="clear: both">

            <div ng-if="showFileSelector()">
                <file-selector
                        choose-file-button-text='Aggiungi immagini'
                        max-files='3'
                        max-file-size-kb='250'
                        on-selection="onSelection(files)"></file-selector>
            </div>

            <p ng-if="!showFileSelector()">
                {{maxFileReachedMessage}}
            </p>


            <div style="margin: 10px">
                <button class="btn btn-default" ng-click="onTrainingChange(training)"> Salva allenamento <span class="glyphicon glyphicon-floppy-disk"></span> </button>
                <button class="btn btn-default" ng-click="onTrainingDelete(training)"> Cancella allenamento <span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>

    </div>

</div>