<div class="trainingListItem list-group-item training-group-item">

    <button title="Modifica allenamento" type="button" class="btn btn-sm" ng-click="onChange()">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>

    <button title="Cancella allenamento" type="button" class="btn btn-sm" ng-click="onDelete()">
        <span class="glyphicon glyphicon-trash"></span>
    </button>

     <b>{{training.nome}}</b> <br> Creato in data: <i> {{training.data | date:"dd/MM/yyyy h:mma"}}</i>

</div>