<html ng-app="trainingHelper" >
<head>

    <base href="/">

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/textAngular.css"/>
    <link type="text/css" rel="stylesheet" href="/css/angular-spinkit.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/angular-busy.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/main.css?0001"/>

    <script type="text/javascript" src="/js/jquery/jquery-1.11.3.min.js"></script>

    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/angularjs/angular.js"></script>
    <script type="text/javascript" src="/js/angularjs/angular-resource.js"></script>
    <script type="text/javascript" src="/js/angularjs/angular-animate.js"></script>
    <!--<script type="text/javascript" src="/js/angularjs/angular-message-format.js"></script>-->
    <!--<script type="text/javascript" src="/js/angularjs/angular-messages.js"></script>-->
    <script type="text/javascript" src="/js/angularjs/angular-route.js"></script>

    <script type="text/javascript" src="/js/component/ui-bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="/js/component/uuid-service/uuid-service.js"></script>
    <script type="text/javascript" src="/js/component/text_angular/textAngular-rangy.min.js"></script>
    <script type="text/javascript" src="/js/component/text_angular/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="/js/component/text_angular/textAngularSetup.js"></script>
    <script type="text/javascript" src="/js/component/text_angular/textAngular.js"></script>
    <script type="text/javascript" src="/js/component/dirPagination/dirPagination.js"></script>
    <script type="text/javascript" src="/js/component/angular_spinkit/angular-spinkit.min.js"></script>
    <script type="text/javascript" src="/js/component/drag_and_drop_angular/angular-dragdrop.js"></script>
    <script type="text/javascript" src="/js/component/angular_busy/angular-busy.min.js"></script>

    <script type="text/javascript" src="/js/app/training-conf.js?0001"></script>
    <script type="text/javascript" src="/js/app/training-core.js?0001"></script>

    <script type="text/javascript" src="/js/app/training-client.js?0001"></script>
    <script type="text/javascript" src="/js/app/training-routing.js?0001"></script>
    <script type="text/javascript" src="/js/app/training-service.js?0001"></script>

    <script type="text/javascript" src="/js/app/directive/training-item.js?0001"></script>
    <script type="text/javascript" src="/js/app/directive/upload-image.js?0001"></script>

    <script type="text/javascript" src="/js/app/controller/loginController.js?0001"></script>
    <script type="text/javascript" src="/js/app/controller/panelController.js?0001"></script>
    <script type="text/javascript" src="/js/app/controller/trainingController.js?0001"></script>
    <script type="text/javascript" src="/js/app/controller/contactController.js?0001"></script>
    <script type="text/javascript" src="/js/app/controller/documentsController.js?0001"></script>

</head>

<body ng-controller="MainController">

<script type="text/ng-template" id="confirmTemplate.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Si</button>
        <button class="btn btn-warning" ng-click="cancel()">No</button>
    </div>
</script>

<script type="text/ng-template" id="inputTemplate.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
        <input type="text" ng-model="value" width="100%"/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Si</button>
        <button class="btn btn-warning" ng-click="cancel()">No</button>
    </div>
</script>

<!-- NAVBAR -->
<div ng-include="'views/header.html'"></div>


<div style="position: absolute; left: 50%;top:100px;z-index:1">
    <div style="position: relative; left: -50%;">
        <div ng-class="message.type" class="alert customAlert"
             ng-animate="'animate'"
             role="alert" ng-repeat="message in messages | orderBy : '-date'">{{message.text}}</div>
    </div>
</div>

<div cg-busy="{promise:trainingOperation,message:'Operazione in corso...'}"></div>

<!-- CONTAINER -->
<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <!--VIEW-->
        <div class="col-xs-12 col-sm-12 col-md-9">
            <div ng-view></div>
        </div>

        <!--HEADER-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas hidden-xs hidden-sm" id="sidebar" ng-include="'views/list.html'" ng-show="logged"></div>

    </div>

    <hr>

    <footer>
        <p>{{CONF.APP_NAME}} {{CONF.APP_VERSION}}</p>
    </footer>

</div>
<!-- END CONTAINER -->

</body>
</html>